.container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}
.content > div {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.content > input {
  margin-top: 2px;
  border-radius: 5px;
}
button {
  background: #ffc300;
  padding: 5px;
  border-radius: 4px;
  color: white;
  border: none;
  font-weight: bold;
}
button:disabled {
  opacity: 0.2;
}
